body {
  margin: 0;
/* Avoid user selection */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
}
.game {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.board-and-graveyard {
  margin-left: auto;
  margin-right: auto;
}
.board-and-graveyard .graveyard,
.board-and-graveyard .chessboard {
  float: left;
}
.chessboard {
  height: 600px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #333;
  font-size: 0;
}
.chessboard .square {
  display: inline-block;
  line-height: 75px;
}
.chessboard .square:nth-of-type(16n + 16),
.chessboard .square:nth-of-type(16n + 14),
.chessboard .square:nth-of-type(16n + 12),
.chessboard .square:nth-of-type(16n + 10),
.chessboard .square:nth-of-type(16n + 7),
.chessboard .square:nth-of-type(16n + 5),
.chessboard .square:nth-of-type(16n + 3),
.chessboard .square:nth-of-type(16n + 1) {
  background: #ccc;
  background: linear-gradient(to bottom, #ccc, #eee);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
}
.chessboard.highlight-black-pieces .square.piece.black:hover {
  border: 4px solid #008000;
}
.chessboard.highlight-black-pieces .square.piece.black:hover::before {
  transform: translateY(-4px);
}
.chessboard.highlight-white-pieces .square.piece.white:hover {
  border: 4px solid #008000;
}
.chessboard.highlight-white-pieces .square.piece.white:hover::before {
  transform: translateY(-4px);
}
.chessboard.highlight-destinations .square:not(.piece):hover {
  border: 4px solid #008000;
}
.graveyard {
  height: 600px;
  width: 150px;
}
.graveyard .square {
  display: inline-block;
}
.square {
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 50px;
}
.valid-destination {
  box-sizing: border-box;
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 50px;
  border: 4px solid #008000;
}
.piece {
  position: relative;
}
.piece.white.king::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♔";
}
.piece.white.queen::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♕";
}
.piece.white.rook::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♖";
}
.piece.white.bishop::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♗";
}
.piece.white.knight::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♘";
}
.piece.white.pawn::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♙";
}
.piece.black.king::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♚";
}
.piece.black.queen::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♛";
}
.piece.black.rook::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♜";
}
.piece.black.bishop::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♝";
}
.piece.black.knight::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♞";
}
.piece.black.pawn::before {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  content: "♟";
}
.status-bar {
  background: #ccc;
  background: linear-gradient(to bottom, #ccc, #eee);
  box-shadow: inset 0 0 10px rgba(0,0,0,0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  text-align: center;
}
